# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

jobs:
- job: Linux
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
  - script: |
      cd 3rdparty/oniguruma
      autoreconf -vfi
      ./configure
      make
      make all-test
    displayName: 'build linux'

  - task: PublishPipelineArtifact@0
    displayName: 'publish linux'
    inputs:
      artifactName: build-linux
      targetPath: '$(Build.SourcesDirectory)/3rdparty/oniguruma/src/.libs'

- job: Windows
  pool:
    vmImage: 'vs2017-win2016'
  steps:
  - script: build-win.cmd x64
    displayName: 'build win-x64'

  - task: PublishPipelineArtifact@0
    displayName: 'publish win-x64'
    inputs:
      artifactName: build-win-x64
      targetPath: '$(Build.ArtifactStagingDirectory)\win-x64'

  - script: build-win.cmd x86
    displayName: 'build win-x86'

  - task: PublishPipelineArtifact@0
    displayName: 'publish win-x86'
    inputs:
      artifactName: build-win-x86
      targetPath: '$(Build.ArtifactStagingDirectory)\win-x86'

- job: MacOS
  pool:
    vmImage: 'macOS-10.13'
  steps:
  - script: echo unknown

- job: Package
  dependsOn:
  - Linux
  - Windows
  - MacOS
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: build-win-x64
      targetPath: $(System.ArtifactsDirectory)
  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: build-win-x86
      targetPath: $(System.ArtifactsDirectory)
  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: build-linux
      targetPath: $(System.ArtifactsDirectory)
  - script: ls -1R $(System.ArtifactsDirectory)
  